body {
  font-family: "Avenir Next";
/*  margin: 0px;*/
  background: #feffef
}

.navbar{
  z-index: 20;
  right:0;
  height: 4rem;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #eaecef;
  padding: .7rem 1.5rem;
  line-height: 2.2rem;
}

.navbar a, .navbar img,
.navbar span{
  display: inline-block;
}

a, p a code{
  color: #4e6e8e;
}

a {
  font-weight: 500;
  text-decoration: none;
}

a:visited{
  color: inherit ;
}

.site-name{
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-font-smoothing:antialiased;
  font-weight: 600;
}

.navbar span{
  display: inline-block;
}

.navbar .links{
  padding-left: 1.5rem;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: .9rem;
  position: absolute;
  right: 1.5rem;
  top: .7rem;
  display: flex;
  max-width: 600px;
}

.navbar .links .search-box{

  -webkit-box-flex: 0;
  flex: 0 0 auto;
  float:right;
  vertical-align: top;
}

.search-box{
  display: inline-block;
  position: relative;
  margin-right: 1rem;
}

.search-box input{
  cursor: text;
  width: 10rem;
  height: 2rem;
  display: inline-block;
  color: #4e6e8e;
  border: 1px solid #cfd4dc;
  border-radius: 2rem;
  font-size: .9rem;
  line-height: 2rem;
  padding: 0 .5rem 0 2rem;
  outline: none;
  transition: all .2s ease;
  background: #fff url(../img/search.svg)
  .5rem no-repeat;
  background-size: 1rem;
}

a {
  text-decoration: none;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body,
#JsonReader{
/*  margin-top: 50px; */
}


li {
  list-style: none;

}

nav{
  font-size:20px; 
}

nav a{
  color:hsl(0, 0%, 0%);
}

h1:target{
  background: rgb(205, 255, 88);
}
 

header{
	background: linear-gradient(#99ffa1,#84fd8e);
  height: 70px;
  padding-left: 10px;
  position: fixed;
  left:0;
  top:0;
  width:100%;
  z-index:24;  
}

.link-bar{
  float: left;
  display:flex;
  margin-top:5px;
  
}

.in-link-bar{
  float:left;
  display:  flex;
}

.header-list{
  /*float:right;*/
  padding-right: 10px;
  padding-top: 5px;
  
  float: right;
  display:flex;
}


.header-block li{
  padding-top:15px;
}

.header-block {
  float:left;
  padding-left: 20px;
  padding-right:20px;
  column-rule: 2px solid #2f5167;
}

.header-block:hover{
  background: rgba(209, 209, 209, 0.383);
}

.header-list li {
  float: right;
  display: flex;
   
}

.contents{
  margin: 100px;
  display: inline-block;
  max-width: 1200px;
  vertical-align: middle;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.contents-block{
  background-color:#fff;
  height: auto;
  margin-top: 30px;
  border: 1px solid #cfd4dc;
  border-radius: 8px;
  
}

.contents-block .title{
  float:top;
  padding-top: 10px;
  padding-left: 10px;
}

.contents-block .title span{
  font-size: 1.8rem;
}

.contents-description{
  float: top;
  padding-left: 15px;
  margin-top: 30px;
  font-size: 1.1rem;
}

.intro{
  float:bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


table{
  width:auto; 
}

th{
  width: 150px;
}


table, tr, th, td{
  margin: 1rem 2rem 1rem 1rem;
  border: 1px solid rgb(83, 83, 83);
}

.Jump_Top{
  background-color: rgb(78, 78, 78);
    border-radius: 50%;
    bottom: 50px;
    color: #fff;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    outline: 0;
    position: fixed;
    right: 50px;
    text-align: center;
    width: 50px;
}
    


.Option{
  margin-top: 80px;
  height: 150px; 
 
  /*height:900px;*/
}

.icon{
  padding-top: 50px;
}

img.icon-top{
  border-radius:60%;
  width:200px;
}

img.icon-side-cut{
  border-radius:30%;
}

.name{
  
  color:rgba(212, 212, 212, 0.972);
}

.line {
	display: flex;
	align-items: center;
}
.line:before, .line:after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background:#e5e5e5;
	display: block;
}
.line:before {
	margin-right: .4em;
}
.line:after {
	margin-left: .4em;
}


footer {
  background-color: #2f5167;
  color: #fff;
  height: 100px;
  padding: 30x;
  width:100%;
  margin-top: auto;
}

.site-link{
  padding-left: 20px;  
}
.contents-name-footer{
  padding-left: 20px;
  float:top;
}
.update-date{
  padding-right: 20px;
/*  padding-top: 10px;*/
  float:right;
}

.copy-right{
  color: #e5e5e5;
  
  margin-left:50px;
  float:bottom;
}

.copy-right p{
  text-align: center;
}

/*
#navbar-custom.navbar-default .navbar-nav>.active>a,
#navbar-custom.navbar-default .navbar-nav>.active>a:hover,
#navbar-custom.navbar-default .navbar-nav>.active>a:focus {
  color: rgb(240, 240, 240);
	background-color: rgba(92, 107, 192, 1);
}

#navbar-custom.navbar-default .navbar-toggle {
  border-color: #606fc3;
}

#navbar-custom.navbar-default .navbar-toggle:hover,
#navbar-custom.navbar-default .navbar-toggle:focus {
  background-color: #5c6bc0;
}

#navbar-custom.navbar-default .navbar-toggle .icon-bar {
  background-color: #5c6bc0;
}

#navbar-custom.navbar-default .navbar-toggle:hover .icon-bar,
#navbar-custom.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #3f51b5;
}

*