<!DOCTYPE html>

<html lang="ja">

	<head>
		<meta charset="UTF-8">
		<title>福井県のイベント情報</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-scrollto"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="js/click_copy.js"></script>
    <!--<script src="js/vue.js"></script>-->
  </head>
  
  <body>
    <div id="top"></div>
    <div id="app">
      <header class="navbar">
        <a href="#" class="home-link">
        <span class="site-name">Fukui Events Info</span>
        </a>
      <div class="links">
        <div class="search-box">
          <input type="text" v-model="keyword" autocomplete="off"
          spellcheck="false" >
        </div>

        
        <div class="select-display-size ">
          <select name id="display-size" v-model="selected_size" @change="reset_count()">
            <!-- できたらJsonサイズ取得 変更 -->
            <option v-for="svalue in select_value" v-bind:value="svalue.value">
              <p>{{svalue.text}}</p>
            </option>
          </select>
        </div>


        <div class="select-genre">
          <select name id="genre-lists" v-model="selected_genre">
            <option v-for="gvalue in genre_value" v-bind:value="gvalue.value">
              <p>{{gvalue.text}}</p>
            </option>
          </select>

        </div>

        <div class="mute-items">
          <!--

            /* 現在参加可能なイベントか */
            /* 有料か無料か */
          -->
        </div>
        
      </header>

      <div class="contents">

        <ul id="main">
          <!-- 条件分岐 -->
         <template v-for="(data,index) in SearchData()">
            <li v-if="index < end">

              <div class="contents-block">
                
                <!--
                  カテゴリ:{{data.remarks}}
                  お気に入り，非表示など
                -->
                <div class="title">
                  <span> {{data.event_name}}  </span>
                </div>
                <div class="intro">
                
                  <!--概要・説明:--> 
                  <div class="contents-description">
                    {{data.description}} 
                  </div>
                  <table class="contents-info">
                    <!-- データの無いものは表示しないようにする? -->
                    <tbody>
                      <tr>
                        <th>
                          <p>営業時間・情報など</p>
                        </th>
                        <td>
                          <p>・期間: {{data.start_date}} ～ {{data.end_date}}</p>
                          <p>{{data.remarks}} </p>
                        </td>
                      </tr>
                      <tr>
                        <th>
                          <p>場所</p>
                        </th>
                          
                      <td>
                        <!--一方だけでOK?-->
                        <p>
                          <!--・建物名:-->
                          <a v-bind:href="data.event_place_url">
                            {{data.event_place}}
                          </a>
                        </p>
                        <!--
                          <p>
                            <a href="https://www.google.com/maps/place/{{data.contact}}">
                              {{data.contact}}
                            </a>
                          </p>
                        -->
                        <!--・住所-->
                        <p>
                          <a v-bind:href="'https://www.google.com/maps/place/' + data.address">
                            {{data.address}}
                          </a>
                          
                        </p>
                      </td>
                    </tr>
                    
                    <tr>
                      <th>
                        <p>交通手段</p>
                      </th>
                      <td>
                        <p>{{data.transportation}}</p>
                      </td>
                    </tr>
                    
                    <tr>
                      <th>
                        <p>お問い合わせ</p><!--電話番号:-->
                      </th>
                      <td>
                        <p>
                          ・URL&nbsp;
                          <a v-bind:href="data.event_place_url">
                            {{data.event_place_url}}
                          </a>
                        </p>
                        <p class="copy">
                          ・電話番号&nbsp;{{data.contact_phone_number}}
                        </p>
                        <p>
                          <!--クリックボードにコピー:w -->
                          ・メールアドレス&nbsp;<span class="copy">{{data.mail_address}} </span>
                        </p>
                      </td>
                    </tr>
                    
                    <tr>
                      <th>
                        <p>ジャンル</p>
                      </th>
                      <td>
                        <p>{{data.category}} </p>
                      </td>
                    </tr>
                    
                  </tbody>
                  </table>
                </div>
                
              </div>
              
            </li>
          </template>
        </ul>
      </div>
      
      <!--
        <p>{{keyword}}</p> 
        <p>{{selected_genre}}</p>
        <p>{{end}}</p> Debug 
      -->
      
      
      <p class="btnArea" v-if="!isEnd()">
        <a class="btnMore" @click="seemore()">
          More 
        </a>
      </p>
    </div>   

    <div class="Jump_Top">
      <a href="#" v-scroll-to="'#top'">Top</a>
    </div>
                    
      
    <footer>			
      <div class="contents-name-footer">
        <h3>Fukui Events Info</h3>
      </div>
      <div class="update-date">
        最終更新日:	<time itemprop="datePublished" datetime="2019/5/30">2019年5月30日</time>
      </div>
      <div class="copy-right">
        <p>Coptyright © tf-f</p>
      </div>
    </footer>
    
    <script src="js/main.js"></script> 
  </body>

</html>
